@import './styles/base.scss';
:root {
  --primary-color: orange;
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}
body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
}

a {
  color: blue;
}

h1 {
  margin: 0;
  &:hover {
    font-size: 10vh;
    color: white;
    transition: all var(--duration);
  }
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 6vmin;
  width: 6vmin;
  border-radius: 50%;
  background-color: white;
  --duration: 1s;
  --stagging: -0.5s;
  --interval: calc(var(--duration) - var(--stagging));
  animation: stagging var(--duration) calc(var(--interval) * var(--i)) both;
}
// @keyframes square-like {
//   0% {
//     transform: translateX(0);
//   }
//   25% {
//     transform: translateX(5vw) translateY(0);
//   }
//   50% {
//     transform: translateX(5vw) translateY(5vw);
//   }
//   75% {
//     transform: translateX(0vw) translateY(5vw);
//   }
//   100% {
//     transform: translateX(0vw) translateY(0vw);
//   }
// }
@keyframes stagging {
  from {
    transform: none;
  }
  to {
    transform: translateX(10vw);
  }
}
