@import '../styles/base.scss';

:root {
  --color-gray: #8c97b7;
  --color-blue: #1c38f1;
  --color-green: #1fcdb0;
  --input-height: 3rem;
  --duration: 0.2s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fbff;
}

.ui-form {
  background: #fff;
  box-shadow: 0 0.5rem 1rem #0003;
  padding: 1rem;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-template-areas: 'input button';
  animation-name: animate-up;
  animation-duration: 2s;
  animation-fill-mode: both;
  --color: var(--color-gray);
  &:focus-within {
    --color: var(--color-blue);
    transition: all var(--duration) ease;
  }
}
@keyframes animate-up {
  0% {
    transform: translateY(50vw) translate(0vw);
  }

  33% {
    transform: translateY(0) translateX(2vw);
  }
  66% {
    transform: translateY(0) translateX(-2vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.ui-input {
  grid-area: input;
  padding: 0 1rem;
  height: var(--input-height);
  border: 2px solid var(--color);
  border-radius: 0.25rem;
  outline: none;
  transition: inherit;
}

.ui-button {
  grid-area: button;
  border: none;
  padding: 0 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  height: var(--input-height);
  background-color: var(--color);
  transition: inherit;
  // transition: all 0.1s ease linear;
  &:active {
    transform: scale(1.06);
  }
}

[data-show]:not([data-active]) {
  display: none;
}

.ui-form {
  overflow: hidden;
}
